{%extends 'base.html'%} <!---exact same as base.html, but you can override any blocks defined inside base.html--->
{% block title %} Home {% endblock %}

{%block content%} 


<form method="POST">
    <h3 align="center">Welcome</h3>
    <div class="form-group">
    <label for="location">Location</label> <!--these are all bootstrap classes. look them up on the website-->
        <input type="text" class="form-control" id="location" name="location" placeholder="Enter Location"/>
    </div>
<br />


<button type="submit" class="btn btn-primary" style="background-color:#141971; color:white" >Submit</button>

</form> 
{% endblock %}